body {
    font-family: 'Courier New', Courier, monospace ;
    color: #333;
    
}

#container {
    width: 60%;
    padding: 1em;
    text-align: center;
    border: 1px solid #ddd;
    margin: 10px auto;
}

#container h1 {
    font-size: 30px;
}