body {
    font-family: Arial;
    color: #333;
    
}

#cabecera {
    background: #33a;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#container {
    width: 60%;
    padding: 1em;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1 {
    font-size: 30px;
}